/* 
    Author: Pankaj Kumar
*/

.card{
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.card-body .btn{
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px #9acd32;
    color: green;
}

.card:hover .card-body .btn{
    background-color: green;
    border: solid 1.5px green;
    font-weight: bold;
    color: #fff;
}