/* 
    Author: Pankaj Kumar
*/

:root{
    --background-color: #ffe4c4;
    --container-background-color: #f0f8ff;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    background-color: aliceblue;
}

/* css of header section start */
.navbar {
    width: 100%;
    top: 0px;
}

.header {
    background-color: #fff;
    margin-bottom: 10px;
}

.nav-item{
    font-weight: bold;
}

.nav-item:hover {
    background-color: var(--background-color);
    font-weight: bold;
    border-radius: 8px;
}
.navbar-nav li a {
    color: #fff !important;
}

.navbar-nav li a:hover {
    color: #ffe4c4 !important;
}


/* Make the collapsible menu vertical */
@media (max-width: 767.98px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: stretch;
    }

    .nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .nav-item {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

.page-main-div {
    min-height: 95vh;
}

.page-title-div {
    padding: 25px;
    margin-bottom: 45px;
    background-color: var(--background-color);
    border-radius: 8px;
}

.page-title-div h1 {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

td:nth-child(3) {
    text-align: center;
}

.fa-external-link-square {
    font-size: 20px;
}

.fa-youtube-play {
    color: red;
    font-size: 20px;
}

.table tr th:nth-child(1) {
    width: 5%;
}

.table tr td:nth-child(2) {
    width: auto;
}

.table tr td:nth-child(3) {
    width: 10%;
}

.footer {
    height: 50px;
}

.footer div {
    font-size: 14px;
    height: 35px;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    background-color: var(--background-color);
}

@media (max-width: 500px) {
    .navbar-header {
        width: 30%;
        margin: 0px;
    }
}