/* 
    Author: Pankaj Kumar
*/

:root {
    --background-color: green;
    --code-color: #df3079;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    background-color: #f0f8ff;
}

/* css of header section start */
.navbar {
    width: 100%;
    top: 0px;
}

.header {
    background-color: #fff;
    margin-bottom: 10px;
}

.nav-item {
    font-weight: bold;
}

.nav-item:hover {
    background-color: green;
    font-weight: bold;
    border-radius: 8px;
}

.nav-item:hover a {
    color: #fff;
}

/* Make the collapsible menu vertical */
@media (max-width: 767.98px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: stretch;
    }

    .nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .nav-item {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

.page-main-div {
    min-height: 95vh;
}

.page-title-div {
    padding: 25px;
    margin-bottom: 45px;
    background-color: var(--background-color);
    border-radius: 8px;
}


.page-title-div h1 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

td:nth-child(3) {
    text-align: center;
}

.fa-external-link-square {
    font-size: 20px;
}

.fa-youtube-play {
    color: red;
    font-size: 20px;
}

.table tr th:nth-child(1) {
    width: 5%;
}

.table tr td:nth-child(2) {
    width: auto;
}

.table tr td:nth-child(3) {
    width: 10%;
}

.pill {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(228, 243, 176);
    font-weight: bold;
    font-size: 16px;
}

.modern-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modern-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
}

.modern-list-item-name {
    flex-grow: 1;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.modern-list-item-name i {
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
}

.modern-list-item-name[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.modern-list-item-description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    width: 100%;
}

.modern-list-item-description b {
    font-weight: bold;
}

/* for code part */
.modern-code-block {
    background-color: #ced4da;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.modern-code-block code {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    color: #df3079;
}

.important-point {
    color: green;
}

.pill {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(228, 243, 176);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}


.footer {
    height: 50px;
}

.footer div {
    font-size: 14px;
    height: 35px;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    background-color: var(--background-color);
    color: #fff;
}
.footer div a{
    color: #000;
}

@media (max-width: 500px) {
    .navbar-header {
        width: 30%;
        margin: 0px;
    }
}

/* end css code */